
@media screen and (max-width: 1024px){
    nav li{
        padding: 8px 0;
        border-radius: 7px;
    }
    nav li:hover{
        background: rgb(175, 172, 248);
    }
}

::-webkit-scrollbar{
    width: 0;
}
